/* 
    Created on : 8-mrt-2016, 21:34:17
    Author     : jens
*/
/*
    h: 4250px
    w: 4250px
*/
/*
fonts
*/
/*@import url(https://fonts.googleapis.com/css?family=Oswald);*/
@import "../fonts/play/styles.css";
*{
    margin: 0;
}
html, body {
    height: 100%;
    width: 100%;
    background-color: #231f20;    
}
/*---------- header styles ----------*/
.noScript-heading {
    background-color: red;
    color: white;
    font-family: 'Play', sans-serif;
    padding: 5px;
    text-align: center;
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    height: 50px;
    clear: both;
    z-index: 999999999;
    line-height: 50px;
}
header{
    /* h = 260px */
    height: 78px;
    background-color: #231f20;        
}
.logo {
    position: absolute;    
    height:50px;
    top: 10px;
}
.logo > #main-logo {
    height: 100%;
}
header > form {
    display: block;
    width: 100%;
    height: 100%;
}
header > form > .form-group {
    margin-left: 180px;
    width: 750px;
    height: 100%;    
    top: 20%;
    position: relative;
}
header > form > .form-group > input {
    color: rgba(255,255,255,.8);
    font-family: 'Play' ,sans-serif;
    display: block;    
    height: 34.5px; 
    width: 710px;
    background-color: #231f20;
    border: rgba(255,255,255,.2) 1px solid;
    border-right: none;
    border-bottom-left-radius: 5px;    
    border-top-left-radius: 5px;
    float: left;
    padding-left: 8px;    
}
header > form > .form-group > input::-ms-clear {
    width: 0;
    height: 0;
}
header > form > .form-group > input:focus {
    outline: none;
}
header > form > .form-group > a#main-search {    
    padding: 0;
    padding: 0 8px;
    font-size: 23px;
    border: 1px solid rgba(255,255,255,.2);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    color:rgba(255,255,255,.2);     
    float: left;    
}
header > form > .form-group > a#main-search:hover,header > form > .form-group > a#main-search:focus {
    outline: none;
    color: rgba(255,255,255,.8);
}
/*place holder styles for header input*/
header > form > .form-group > input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: rgba(255,255,255,.2);
    font-variant: small-caps;
    font-family: 'Play' ,sans-serif;
    font-size: 18px;
    line-height: 16px;
}
header > form > .form-group > input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: rgba(255,255,255,.2);
    font-variant: small-caps;
    font-family: 'Play',sans-serif;
    font-size: 18px;
    line-height: 26px;
    opacity: 1;
}
header > form > .form-group > input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: rgba(255,255,255,.2);
    font-variant: small-caps;
    font-family: 'Play',sans-serif;
    font-size: 18px;
    line-height: 26px;
    opacity: 1;
}
header > form > .form-group > input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(255,255,255,.2);
    font-variant: small-caps;
    font-family: 'Play',sans-serif;
    font-size: 18px;
    line-height: 13px;
}
header > form > .form-group > input:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
    color: rgba(255,255,255,.2);
    font-variant: small-caps;
    font-family: 'Play',sans-serif;
    line-height: 13px;
}
#menuAddon {
    position: absolute;
    margin-left: 943.33px;
    top: 11px;
    width: 456.66px;
}
#menuAddon.no-js-push {
    margin-top: 50px !important;
}
#account-panel {
    margin-top: 8px;
    width: 50%;
    float: left;
    overflow: hidden;
    height: 27px;
    transition: all 500ms;    
    padding-bottom: 8px;
    background-color: #333333;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#account-panel a {
    display: block;
    text-decoration: none;
    font-size: 15px;
    margin-left: 5px;
}
#account-panel > a:first-child {    
    color: #ef4123;
    background-color: #333333;   
    line-height: 25px;    
}
#account-panel > a:first-child:focus {
    outline: none;
}    
#account-panel > a:first-child > i:last-child{  
    float: right;
    position: relative;
    top: 8px;
}
#account-panel:hover {
    height: 100px;
}
#account-panel.expanded {
    height: 100px;
}
#account-panel > .account-drop-down {    
    position: relative;
    z-index: 9999;
    top: 2px;
    padding-top: 10px;
    text-align: right; 
    background-color: rgba(1,1,1,.9);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;    
    border-top: none;
}
#account-panel > .account-drop-down > a {
    padding-right: 5px;
    color: #ef4123;
    padding-bottom: 5px;
}
#account-panel > .account-drop-down > a:hover {
    text-decoration: underline;
}
#account-panel > .account-drop-down > a > i {
    float: left;
}
.social-menu {    
    float: left;
    width: 49%;
    margin-left: 1%;    
}
.social-menu > ul {
    list-style-type: none;
    width: 100%;
}
.social-menu > ul > li {
    display: block;
    font-family: 'Play', sans-serif;    
    text-align: center;
    float: left;
    width: 16.66%;
}
.social-menu > ul > li > a{
    text-decoration: none;
    color: #ef4123;
    line-height: 40px; 
}
.social-menu > ul > li > a > .fa-stack {
    background-color: #333333;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 1.9em;
    height: 1.9em;
    line-height: 1.9em;
}
.social-menu > ul > li > a > .fa-stack i {
    transition: all 300ms;
}
nav {
    width: 100%;
}
#menu-box {
    width: 100%;
    height: 50px;
    margin-bottom: 2px;    
}
.menu {
    width: 100%;
    height: 100%;
    margin-bottom: 2px;
    background-color: #333333;
}
#menu-box > .menu {
    position: relative;
}
.menu > li {
    float: left;
    width: 16.66%;
    text-align: center;    
    height: 100%;
    border-bottom: solid 3px #231f20;
    list-style-type: none;
}
.menu > li a:focus {
    outline: none;
}
.menu > li > a{
    display: block;
    height: 100%;        
    line-height: 50px;
    font-size: 18px;
    font-family: 'Play', sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    text-decoration: none;
    color: #fff;
    border-left: solid 2px #231f20;        
    transition: all 300ms;
}
.menu > li:first-child > a {
    border-left: none;
}
.menu > li.active {    
    border-bottom: #ef4123 solid 3px;
}
.menu > li.active a {
    font-size: 22px;
    color: #ef4123;
}
.menu > li > a:hover, .menu > li > a:focus{
    font-size: 22px;
    transition: all 300ms;
    color: #ef4123;
}
.submenu {
    display: none;
}
.submenu-visible {
    /*border-top: solid 3px #231f20;*/    
    margin: 0 auto;
    margin-top: 3px;
    position: absolute;
    left: 0;
    z-index: 99999;
    display: block;
    width: 1400px;
    height: 50px;
    margin-bottom: 2px;
    /*background-color: rgba(239, 65, 35, .8);*/
    /*background-color: rgba(35, 31, 32, .8);*/
    background-color: rgba(0,0,0,.9);
}
.submenu-visible > li > a {
    color: #ef4123;
}
.submenu-visible > li:hover > a {
    color: #fff;
    background-color: #ef4123;
}
/*MAIN STYLES*/
main {
    width: 100%;
}
#inf-slider-holder {
    width: 100%;
    background-color: #231f20;
    height: 400px;
    overflow: hidden;
    border-bottom: 3px solid #231f20;
}
#inf-slider {
    height: 100%;
    width:1100px;
    margin: 0 auto;     
}
#inf-slider .slider-item {
    text-decoration: none;
    position: relative; 
    outline: 0;
    cursor: pointer;
}
#inf-slider .slider-item img{
    width: 1100px;
    height: 400px;
}
#inf-slider  div .slider-desc {
    background-color: rgba(1,1,1,.8);  
    border-top: none;
    top: 0;
    right: 0;
    position: absolute;    
    line-height: 50px;
    display: block;
    text-align: right;
    color: white;    
    font-family: 'Play', sans-serif;
}
#inf-slider  div .slider-desc p {   
    padding-top: 10px;
    padding-left: 5px;
    padding-right:10px;
    float: right;
}
#inf-slider  div .slider-desc .score{
    color: #ef4123;    
}
#inf-slider  div .slider-desc .stars {
    padding-top: 10px;
    padding-left: 5px;
    float: right;    
    padding-bottom: 0;
}
.slider-right, .slider-left {
    background-color: #231f20;
    overflow: hidden;
    height: 400px;
    width: 150px;
    line-height: 300px;
    text-align: center;
    position: absolute;
    cursor: pointer;
    font-size: 50px;   
}
.slider-left {
    margin-left: -150px;    
}
.slider-left img , .slider-right img{
    opacity: .5;
    transition: all 300ms ease-out;     
}
.slider-left:hover img,.slider-right:hover img {    
    transition: all 300ms ease-in;
    opacity: 1;
}
.slider-right {
    top: 0;
    margin-left: 1100px;
}
.slider-left > i , .slider-right > i{
    position: absolute;
    font-size: 70px;
    height: 70px;
    top: 165px;
    left: 0;
    right: 0;
    color: #ef4123;
}
#newsfeed-nav {
    height: 50px;
}
#newsfeed-holder {
    height: 370px;   
    width: 100%;
}
#newsfeed-items {
    width: 1000000000000px;
    transition: all 800ms;
}
#newsfeeds {
    height: 320px;
    background-color: #333333;
    width:100%;
    overflow: hidden;
}
#newsfeeds > #newsfeed-items > .newsfeed-item {
    position: relative;
    float: left;
    width: 1400px;
}
#newsfeeds > #newsfeed-items > .newsfeed-item img{
    width: 800px;
    height: 320px;
}
.newsfeed-img, .newsfeed-desc {
    float: left;    
}
.newsfeed-desc {
    padding-left: 25px;
    padding-top: 5px;
    font-family: 'Play', sans-serif;
    max-width: 570px;
}
.newsfeed-desc > h2 {
    font-size: 18px;
    padding-bottom: 15px;
    color: #ef4123;
}
.newsfeed-desc > ul > li:before {
    color: #ef4123;
    content: '>';    
    position: absolute;
    display: block;
    top: 0;
    left: 0;
}
.newsfeed-desc > ul > li{
    margin-top: 4px;
    padding-left: 10px;
    color: #fff;
    display: block;
    position: relative;
}
.newsfeed-desc > ul > li > p{
    max-width: 90%;
    display: inline-block;
    padding-left: 10px;    
}
/*bottome footer styles*/
.no-js-push {
    margin-top: 50px !important;
}
#wrapper {
    width: 1400px;
    margin: 0 auto;
    min-height: 100%;
    min-height: 100vh;
    margin-bottom: -50px;
}
#wrapper:after {
    content: "";
    display: block;
    height: 50px;
}
.wrap, .wrap:after, .wrap:before, footer:before, footer:after, footer, footer *, footer *:before, footer *:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
footer {    
    height: 44px;
    width: 1400px;
    margin: 0 auto;
    background-color: #333333;
    border-bottom: 3px #231f20 solid;
    border-top: 3px #231f20 solid;
    font-size: 15px;
}
.left-footer > ul , .right-footer > ul {
    list-style-type: none;
    width: 100%;
    height: 100%;
}
.left-footer > ul > li, .right-footer > ul > li {
    display: block;
    font-family: 'Play', sans-serif;    
    height: 100%;
    text-align: center;
}
.left-footer > ul > li:hover ,.right-footer > ul > li:hover{
    font-size: 18px;
}
.left-footer > ul > li > a, .right-footer > ul > li > a{
    text-decoration: none;
    color: #ef4123;
    line-height: 44px;    
}
.left-footer{
    float: left;    
    width: 50%;
}
.left-footer > ul > li {
    float: left;
    width: 25%;
}
.left-footer > ul > li:hover{
    transition: all 300ms;
}
.left-footer > ul > li {
    transition: all 300ms;
}
.right-footer {
    float: right;
    width: 15%;
}
.right-footer > ul > li {
    float: left;
    width: 16.66%;
}
.right-footer > ul > li > a > .fa-stack {
    /*color: #231f20;*/    
    background-color: #231f20;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
/*SCROLLBAR*/
.mCS-scrollBarStyles.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ 
    background-color: #ef4123; 
    width: 2px;
}
#mCSB_1_scrollbar_vertical > div > div.mCSB_draggerRail{
    background-color: #333333; 
    width: 1px;
}
/*FIX CLASSES*/ 
.fix {
    clear: left;
}

/*RESPONSIVE*/
@media all and (max-width: 1500px) {
    *{
        font-size: .9em;
    }
    header > form > .form-group {
        width: 360px;
    }
    header > form > .form-group > input {
        width: 320px;
    }
    #menuAddon { 
        margin-left: 550px;
        width: 460px;
    }
    #account-panel {        
        margin-top: 8px;
        height: 27px;
        width: 52.5%;
    }
    #account-panel.expanded {
        height: 80px;
    }
    #account-panel a {
        font-size: .9em;
    }
    #account-panel > a:first-child {    
        line-height: 25px;
    }
    .social-menu {   
        width: 45%;
    }           
    .social-menu > ul > li {
        font-size: .9em;        
    }    
    .social-menu > ul > li > a > .fa-stack {
        width: 2.2em;
        height: 2.2em;
        line-height: 2.2em;
    }
    .submenu-visible {
        height: 40px;
        width: 1000px;
        background-color: rgba(0,0,0,.9);
    }
    #menu-box ,#newsfeed-nav {    
        height: 40px;
    }
    .menu > li > a{
        font-size: 15px;
        line-height: 40px;
    }    
    .menu > li.active a {
        font-size: 19px;
    }
    #inf-slider {
        width: 800px;
    }
    #inf-slider .slider-item img{
        width: 800px;        
    }
    .slider-right, .slider-left {
        width: 100px;
    }
    .slider-left {
        margin-left: -100px;    
    }
    .slider-right {
        margin-left: 800px;
    }
    #newsfeed-holder {
        height: 360px;
    }
    #newsfeeds > #newsfeed-items > .newsfeed-item {
        width: 1000px;
    }
    #newsfeeds > #newsfeed-items > .newsfeed-item img{
        width: 571px;
    }
    .newsfeed-desc {
        max-width: 420px;        
    }    
    .newsfeed-desc > h2 {
        padding-bottom: 8px;
    }
    #wrapper {
        width: 1000px;
    }
    footer {
        width: 1000px;
    }
    .right-footer {
        width: 20%;
    }
}
@media all and (max-width: 1040px) {
    header {
        height: 58px;
        margin-bottom: 5px;
    }
    header > form > .form-group {
        width:800px;
        height: 78px;
        margin-left: 0;
        margin-top: 58px;
    }
    header > form > .form-group > input {        
        width: 760px;
    }
    header > form > .form-group > a {        
    }
    #menuAddon {         
        top: 15px;
        margin-left: 0;
        width: 800px;
    }
    #account-panel {
        margin-left: 21%;
        width: 53.5%;
        margin-top: 5px;
        height: 27px;
    }    
    #account-panel a {
        font-size: .9em;
    }
    .social-menu {     
        margin-left: 0.5%;        
        width: 25%;
        margin-top: -3px;
    }          
    .social-menu > ul > li > a > .fa-stack {
        width: 2.2em;
        height: 2.2em;
        line-height: 2.2em;
    }
    .submenu-visible {
        width: 800px;
        background-color: rgba(0,0,0,.9);
    }
    #menu-box ,#newsfeed-nav {    
        height: 40px;
    }
    #inf-slider-holder {
        height: 600px;
    }
    #inf-slider .slider-item.primary-slide{
        margin-bottom: 3px;
    }
    #inf-slider .slider-item img{
        height: 300px;
    }
    #inf-slider .slider-item.secondary-slide img{
        width: 399px;
    }
    .secondary-slide:last-child {
        margin-left: 2px;
    }
    .secondary-slide {
        float: left;
    } 
    #newsfeeds > #newsfeed-items > .newsfeed-item {
        width: 800px;
    }
    #newsfeeds > #newsfeed-items > .newsfeed-item img{
        height: 350px;
        width: 400px;
        border-right: 2px solid #231f20;
    }
    .newsfeed-desc {
        max-width: 360px;
    }
    #wrapper {
        width: 800px;
    }
    footer {
        width: 800px;
    }
    .left-footer {
        width: 60%;
    }
    .right-footer {
        width: 25%;
    }    
}
@media all and(max-width: 840px) {

}