#video-main {    
    padding: 1px;
    margin-top: 50px;
}

#video-main a {
    line-height: 466px;
    height: 466px;
    display: block;
    float: left;
    text-align: center;
    width: 466px;
    border: 1px solid #231f20;    
    font-size: 30px;
    font-weight: bold;
}
#video-main a:hover {
    text-decoration: none;

}



/* entire container, keeps perspective */
.flip-container {
    perspective: 1000px;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 466px;
    height: 466px;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
    background-color: #1A1A1A;
    color: #ef4123;
}

/* back, initially hidden pane */
.back {
    background-color: #333333;
    color: #ef4123;
    transform: rotateY(180deg);
}